<!-- inventory/templates/inventory/category_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Category List</title>
</head>
<body>
    <h1>Category List</h1>
    <ul>
        {% for category in categories %}
            <li>
                <strong>Name:</strong> {{ category.name }}<br>
                <a href="{% url 'category_update' category.pk %}">Edit</a> |
                <a href="{% url 'category_delete' category.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'category_add' %}">Add New Category</a></p>
</body>
</html>
